<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ metadata.title }}</title>
		<meta property="og:site_name" content="{{ metadata.title }}">

		<meta name="description" content="{{ metadata.description }}">

		<!-- Twitter Card Stuff: -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="{{ metadata.author.twitter }}">
		<meta property="og:site_name" content="{{ metadata.title }}">
		<meta property="og:title" content="{{ metadata.title }}">
		<meta property="og:url" content="{{ page.url }}">
		<meta property="og:description" content="{{ lede }}">
		<meta property="og:image" content="/_assets/img/book-tease.gif">
		<meta property="og:image:alt" content="Cover of {{ title | safe }}, published by A Book Apart, written by {{ byline | safe }}.">
		<meta property="og:type" content="article">
		<meta name="author" content="{{ metadata.author.name }}">

		<link rel="stylesheet" href="/_assets/css/style.css">
	</head>
	<body>
		<a href="#main" class="a11y-only focusable skiplink">Skip to Main Content</a>

		<div>
			<div class="topwrap">
			<header role="banner" class="site-head">
				<h1 class="site-hed">{{ title | safe }}</h1>
				<p class="byline">
					<span class="a11y-only">by:</span>
					{{ byline | safe }}
				</p>
				<span class="volume">{{ volume | safe }}</span>
			</header>
			{% if cover %}
				{% if href %}
				<a href="{{ href }}">
				{% endif %}
				<img class="cover" src="{{ cover }}" alt="Cover of {{ title | safe }} by {{ byline | safe }}.">
				{% if href %}
				</a>
				{% endif %}
			{% endif %}
		</div>

			<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
				{% if lede %}
				<div class="lede">
					<p>{{ lede | safe }}</p>
				</div>
				{% endif %}

				{{ layoutContent | safe }}

				{% if cta %}{% if href %}
				<a class="cta" href="{{ href }}">{{ cta }}</a>
				{% endif %}{% endif %}
				{% if ctanote %}
				<p class="note">{{ ctanote | safe }}</p>
				{% endif %}
			</main>

			<footer class="site-foot">
				<div class="blurbs">
					{%- for intro in collections.blurb -%}
						{% include "partials/people-are-saying.njk" %}
					{%- endfor -%}

					{%- for blurb in collections.blurbs -%}
						{% include "partials/blurb.njk" %}
					{%- endfor -%}
				</div>

				{%- for bio in collections.bio -%}
					{% include "partials/bio.njk" %}
				{%- endfor -%}
			</footer>
		</div>
	</body>
</html>
