{% macro field(name, value='', type='text') %}
<div class="field">
	<input type="{{ type }}" name="{{ name }}"
	value="{{ value | escape }}" />
</div>
{% endmacro %}<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>
		<meta name="description" content="{% if lede %}{{ lede }}{% else %}{{ metadata.description }}{% endif %}">

		<meta property="og:site_name" content="{{ metadata.title }}{% if title %} - {{ title }}{% endif %}">
		<link rel="canonical" href="https://wiltomakesfood.com{{ page.url | url }}">

		<!-- Icons, Platform-specific Theme Nonsense, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icons/wmf-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icons/wmf-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icons/wmf-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icons/wmf-114.png">
		<link rel="icon" type="image/png" href="/_assets/img/icons/wmf-32.png" sizes="32x32">
		<meta name="msapplication-TileImage" content="/_assets/img/icons/wmf-144.png">
		<meta name="theme-color" content="#d88123">

		<meta property="og:type" content="article">

		<meta name="author" content="Wilto Makes Food">

		<!-- Preload: -->
	</head>
	<body>
		<a href="#main" class="a11y-only focusable skiplink">Skip to Main Content</a>

		<header role="banner" class="site-head">
		</header>


		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			{{ layoutContent | safe }}
		</main>

		<footer class="site-foot">

		</footer>

		<script src="/_assets/js/lazyimg.min.js?{{ metadata.build }}"></script>
		{% if page.url != "/offline/" %}<script src="/_assets/js/offline-toggle.min.js?{{ metadata.build }}"></script>{% endif %}

		<script>
			var _paq = _paq || [];
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				if( !navigator.onLine ) {
					return;
				}
				var u="https://analytics.wiltomakesfood.com/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '1']);
				
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
	</body>
</html>
