<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ metadata.title }}</title>
		<meta name="description" content="{{ metadata.description }}">

		<link rel="stylesheet" href="/_assets/css/style.css">
	</head>
	<body>
		<a href="#main" class="a11y-only focusable skiplink">Skip to Main Content</a>

		<header role="banner" class="site-head">
		</header>

		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
			{{ layoutContent | safe }}
		</main>

		<footer class="site-foot">
		</footer>

		<script src="/_assets/js/lazyimg.min.js?{{ metadata.build }}"></script>
		{% if page.url != "/offline/" %}<script src="/_assets/js/offline-toggle.min.js?{{ metadata.build }}"></script>{% endif %}
	</body>
</html>
