@font-face {
	font-family: 'opensans';
	src: url('/_assets/fonts/opensans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
figcaption,
figure,
footer,
header,
hgroup,
main,
nav {
	display: block;
	margin: 0;
	padding: 0;
}
::selection { 
	text-shadow: none;
	background: rgba(0,152,170, .25);
}
::-moz-selection {
	text-shadow: none;
	background: rgba(0,152,170, .25);
}

html,
body {
	margin: 0;
	padding: 0;
}
img,
svg {
	max-width: 100%;
	height: auto;
}

a {
	transition: color .1s linear, text-decoration-color .1s linear;
}

code {
	background: #fafafa;
	padding: 0 .15em;
	border: 1px solid #eaeaea;
	border-radius: 3px;
	white-space: nowrap;
}

/* https://drafts.csswg.org/selectors-4/#the-blank-pseudo */
p:empty,
p:blank {
	display: none;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	max-width: 100%;
}

/* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.a11y-only {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	min-width: 1px;
	max-width: 1px;
}
.a11y-only.focusable:active,
.a11y-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.skiplink {
	color: #fff;
	background: #000;
	white-space: nowrap;
	display: block;

	padding: .25em .5em;
	max-width: 20em;
	font-family: "opensans", sans-serif;
	text-decoration: none;
}
.skiplink.focusable:active,
.skiplink.focusable:focus{
	position: absolute;
	top: .225em;
	left: .225em;
	z-index: 3;
}

body > div {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

main {
	margin: 3em auto 7.5em auto;
	font-size: 1.2em;
	line-height: 1.4;
}
@media(min-width: 30em ) {
	main {
		font-size: 3.15vw;
	}
}
@media( min-width: 39em ) {
	main {
		font-size: 1.4em;
	}
}

main p {
	max-width: 40em;
	padding: .65em 10% .65em 5%;
	margin: 0 auto;
	font-size: 1em;
	line-height: 1.5;
}
p {
	font-family: georgia, "Times New Roman", times, serif;
	color: #333;
}

}
@media( min-width: 35em ) {
	main p {
		padding: .65em 12.5% .65em 7.5%;
	}
}

.lede {
	font-size: 1.25em;
	line-height: 1.4;
	top: 0;
	max-width: 35em;
	margin: .8em 5% 0 5%;
}
.lede p {
	max-width: 100%;
	padding: 0;
	color: #333;;
}
.lede:after {
	background: #111;
	content: "";
	display: block;
	position: relative;
	width: 100%;
	margin: .8em auto .5em auto;
	max-width: 5em;
	opacity: .25;
	height: 2px;
}
@media(min-width: 30em ) {
	.lede {
		font-size: 5vw;
	}
}
@media( min-width: 42em ) {
	.lede {
		font-size: 1.4em;
	}
}

body > .site-foot {
	grid-row: 4;
}
.site-head,
.site-foot {
	color: rgba(255,255,255,.95);
	background: #999;
	padding: 4.25em 5% 3.5em 5%;
	position: relative;
}


.site-head {
	clip-path: polygon(0 0, 100% 0, 100% calc( 100% - 2.5em ), 0% 100%);
	position: relative;
	border-top: .5em solid #fff;
}

@media( min-width: 50em ) {
	body > div {
		padding: 1.5vw 1.5vw 0  1.5vw;
	}
	.site-head {
		border: none;
	}
}

.volume {
	color: #fff;
	background: #000;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 2.5em;
	border-radius: 50%;
	top: -.5em;
	left: 50%;
	width: 2em;
	height: 2em;
	font-size: 1.5em;
	margin-left: -1em;
	z-index: 9;
	font-family: "opensans", sans-serif;
}
@media( min-width: 40em ) {
	.site-head:before {
		font-size: 3.5vw;
	}
}
@media( min-width: 65em ) {
	.site-head:before {
		font-size: 2.5em;
	}
}
.buynav {
	color: #fff;
	display: block;
	text-align: right;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	font-size: .9em;
	background: #fff;
	padding: .5em 5% .25em 5%;
	z-index: 2;
	text-shadow: 0 1px 2px  rgba(0,0,0,.8);
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	font-weight: bold;
}
.site-head .buynav {
	position: absolute;
}
.buynav:after {
	position: absolute;
	transition: .3s;
	content: '';
	width: 0;
	left: -10%;
	bottom: 0;
	top: 0;
	bottom: 0;
	background: #000;
	transform: skewX(35deg);
	height: 100%;
	z-index: -1;
}
.buynav:hover:after,
.buynav:focus:after {
	left: -10%;
	width: 120%;
}
@media(prefers-reduced-motion: reduce) {
	.buynav:after {
		transition: none;
	}
}


.site-foot {
	clip-path: polygon(0 calc( 0% + 2.5em ), 100% 0, 100% 100%, 0% 100%);
	padding: 6.5em 10% 2em 2.5%;
	border-bottom: .25em solid rgba(0,0,0,.7);
}
.site-foot:after {
	content: "";
	display: table;
	clear: both;
}
@media( min-width: 50em ) {
	.site-foot {
		border-bottom: 1.25vw solid #fff;
	}
}
.site-head h1:after {
	content: "";
	display: block;
	position: relative;
	margin-top: 2.25vw;
	border-bottom: 1px solid #000;
	width: 75%;
	max-width: 8em;
}

.topwrap {
	position: relative;
}

.cover {
	border: 1px solid #ddd;
	top: 67.5%;
	z-index: 3;
	position: absolute;
	right: 4%;
	width: 6.8em;
	max-width: 27.5%;
}

@media( min-width: 35em ) {
	.cover {
		max-width: 20em;
		bottom: auto;
		width: 25%;
		margin-top: 2.5em;
		top: 5vw;
		right: 5%;
	}
}

@media( min-width: 70em ) {
	.cover {
		margin-top: 0;
		top: 8.5vw;
	}
}

@media(min-width: 35em ) {
	.site-hed {
		max-width: 65%;
	}
}

.site-head svg {
	max-width: 30em;
	margin-top: .8em;
}

.byline {
	margin: 1em 0;
	max-width: 70%;
	font-weight: bold;
	color: #fff;
	font-size: 2em;
}

.blurbs-hed,
.bio-hed {
	max-width: 15em;
	margin-bottom: .5em;
	font-family: Open Sans, sans-serif;
	font-size: 1em;
}

.bio {
	font-size: 1.25em;
}

@media( min-width: 65em ) {
	.bio {
		float: right;
		max-width: 55%;
	}
	.blurbs {
		float: left;
		max-width: 42.5%;
	}
}


.site-foot p {
	line-height: 1.45;
	max-width: 45em;
	font-size: .95em;
	color: rgba(255,255,255,.9);
}
@media(min-width: 30em ) {
	.site-foot > div {
		font-size: 3.35vw;
	}
}
@media( min-width: 39em ) {
	.site-foot > div {
		font-size: 1.35em;
	}
}

.blurbs {
	padding-bottom: 3.5em;
}

.blurbs cite {
	font-style: normal;
}
.blurb-author {
	display: inline-block;
	font-size: 1.05em;
	margin-top: .35em;
	margin-bottom: .15em;
}
.blurbs .title {
	display: block;
	font-family: Open Sans, sans-serif;
	line-height: 1.4em;
	color: rgba(255,255,255,.9);
	font-size: .75em;
	max-width: 85%;
}
.blurbs .title cite {
	font-style: italic;
}

.blurbs blockquote {
	padding: 0;
	margin: 0;
}

.blurbs blockquote + blockquote:before {
	content: "";
	width: 25%;
	height: 2px;
	margin: 1.25em auto 1em auto;
	display: block;
	border-radius: 2px;
}

.site-foot a {
	color: #fff;
	transition: text-decoration-color .1s linear;
}
.site-foot a:hover {
	text-decoration-color: transparent;
}

.cta {
	background: rgba(255,150,0, .05);
	display: block;
	padding: .65em 1em .45em 1em;
	width: 50%;
	font-size: .85em;
	min-width: 12.5em;
	max-width: 25em;
	text-align: center;
	margin: 5em auto 0 auto;
	border: 2px solid;
	transition: all .2s ease-in-out;
	overflow: hidden;
	position: relative;
	z-index: 2;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	border-radius: .175em;
}
	.cta:after {
		position: absolute;
		transition: .3s;
		content: '';
		width: 0;
		left: -10%;
		bottom: 0;
		top: 0;
		bottom: -1px;
		transform: skewX(25deg);
		z-index: -1;
	}
	.cta:hover,
	.cta:focus {
		border: 2px solid;
		color: #fff;
	}
	.cta:hover:after,
	.cta:focus:after {
		left: -10%;
		width: 120%;
	}
	.cta:active {
		position: relative;
		bottom: -1px;
	}
	.cta:focus {
		outline: none;
	}
@media (pointer:coarse) {
	.cta:after {
		display: none;
	}
}

p.note {
	font-size: .95em;
	max-width: 46.5em;
	margin-top: 1em;
	color: #333;
}