<blockquote>
	{{ blurb.data.content | safe }}
	<cite>
		<a href="{{ bio.data.href }}">{{ blurb.data.name | safe }}</a>
		<span class="title">{{ blurb.data.title | safe }}</span>
	</cite>
</blockquote>