---
layout: base.njk
templateClass: tmpl-home
---

{% if title %}
<h2>{{ title | safe }}</h2>
{% endif %}

{% if lede %}
<div class="lede">
	<p>{{ lede | safe }}</p>
</div>
{% endif %}

{{ layoutContent | safe }}

<a class="cta" href="https://abookapart.com/products/image-performance">Preorder Now!</a>
<p class="note">All profits from the first quarter of sales (including preorders) will be donated to <a href="https://www.nvaccess.org/">NV Access</a>, creators of the free screen reader software <a href="https://www.nvaccess.org/about-nvda/">NVDA</a>.</p>