---
layout: base.njk
templateClass: tmpl-home
---

{% if title %}
<h2>{{ title | safe }}</h2>
{% endif %}

{% if lede %}
<div class="lede">
	<p>{{ lede | safe }}</p>
</div>
{% endif %}

{{ layoutContent | safe }}

<a class="cta" href="https://abookapart.com/products/">Preorder Now!</a>
